
   <article>

<div class="gg33">
    <div>
   <div class="titulo1">
         Nuestra Ubicacion

    
    </div>

       
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d9164.742293175483!2d-68.12695951641138!3d-16.496903308053042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x915f20662e0c1da9%3A0xb983f71b0f2fd299!2sSastreria%20Yurelio%20Fashion%202%2C%20Avenida%20Saavedra%201923%2C%20La%20Paz!3m2!1d-16.501808099999998!2d-68.1225669!4m5!1s0x915edf0a04f5a40f%3A0x57dbfc76b4458ab3!2sLa%20Paz!3m2!1d-16.489689!2d-68.11929359999999!5e0!3m2!1ses-419!2sbo!4v1631029199387!5m2!1ses-419!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
       
    <div class="titulo1">
        Nuestros Telefonos son: 2287583
    </div>
</div>
    <div class="con1">
        <h1>Nuestras redes</h1>
       <div class="div2">
        <img width="100" height="100" src="https://img1.freepng.es/20171221/wgw/facebook-picture-5a3c060eccfa84.1675788915138831508396.jpg">
        <a HREF="otra_pagina.html">Facebook</a>
        
       </div>
       <div class="div2">
        <img width="100" height="100" src="https://i.blogs.es/7c08f4/modo-oscuro-whatsapp/840_560.jpg">
        <a HREF="otra_pagina.html">Whatsap</a>
       </div>
       <div class="div2">
        <img width="100" height="100" src="https://cdn.andro4all.com/files/2021/03/Instagram-.jpg">
        <a HREF="otra_pagina.html">Instagram</a>
       </div>
    </div>
       
    </div>
       
   </article>
   
   
    

