<h1>Datos del nuevo pedido</h1>
<form action="" target="" method="POST" name="formDatosPersonales">

	
    <label for="CI">CI</label>
	<input type="text" name="CI" id="CI"/>
    <br>
    <label for="nombre">Nombre</label>
	<input type="text" name="nombre" id="nombre"/>
    <br>
    <label for="celular">Numero de celular</label>
	<input type="text" name="celular" id="celular"/>
    <br>
    <label for="correo">Correo</label>
	<input type="text" name="correo" id="correo"/>
    <br>
    <br>
	
	
	<input type="submit" name="enviar" value="enviar"/>
</form>